{% extends 'base.html'%}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Location</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
  {%for p in featured_properties%}
    <tr>
      <td>{{p.title}}</td>
      <td>{{p.location}}</td>
      <td>{{p.category}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
  <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'upload_product'%}">Add Product</a></div>
</div>



{% endblock %}
